<a href="https://colab.research.google.com/github/Tashy009/DS-ML-Study-Group/blob/main/Week2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import library

In [26]:
 pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4) (4.6.3)

In [27]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [28]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)

In [29]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

# Get the contents

In [56]:
r = requests.get("https://books.toscrape.com/index.html")
 
soup = bs(r.content)

# Getting the different webpage

In [57]:
webpage = soup.find("ul", {"class":"nav nav-list"})
 
webpageList= webpage.find_all("a")
 
Links =[ link['href'] for link in webpageList]

## Joining the URL

In [58]:
import re
URL = "https://books.toscrape.com/"
names = []
image_URL = []
price_ = []
star_rating = []
for link in Links[1: ]:
    full_URL = URL + link
    page = requests.get(full_URL)
    bs_page = bs(page.content)
    title = bs_page.find_all("h3")
    name = [t.a["title"] for t in title]
    names.append(name)
    ImgUrl = bs_page.find_all("div", {"class":"image_container"})
    ImgUrl1 = [b.a['href'] for b in ImgUrl]
    ImgUrl2 = [img.replace('../../../', 'https://books.toscrape.com/catalogue/') for img in ImgUrl1] 
    image_URL.append(ImgUrl2)
    
    price = bs_page.find_all("p", {"class":"price_color"})
    price1 = [p.get_text() for p in price]
    price_.append(price1)
 
 
    Rating = [r.find_next_sibling("p")['class'][1] for r in ImgUrl]
    star_rating.append(Rating)

 ## compile the list and creating a dictionary

In [59]:
nme = [n for sublist in names for n in sublist]
 
Img_url = [n for sublist in image_URL for n in sublist]
 
pri = [n for sublist in price_ for n in sublist]
 
star_rtg = [n for sublist in star_rating for n in sublist]

In [60]:
dict = {'name' : nme, 'image URL' : Img_url, 'price': pri, 'star rating': star_rtg}

 ## pandas dataframe

In [61]:
df = pd.DataFrame(dict)
df

                                                  name  ... star rating
0                              It's Only the Himalayas  ...         Two
1    Full Moon over Noah’s Ark: An Odyssey to Mount...  ...        Four
2    See America: A Celebration of Our National Par...  ...       Three
3    Vagabonding: An Uncommon Guide to the Art of L...  ...         Two
4                                 Under the Tuscan Sun  ...       Three
..                                                 ...  ...         ...
512  Why the Right Went Wrong: Conservatism--From G...  ...        Four
513  Equal Is Unfair: America's Misguided Fight Aga...  ...         One
514                                     Amid the Chaos  ...         One
515                                         Dark Notes  ...        Five
516  The Long Shadow of Small Ghosts: Murder and Me...  ...         One

[517 rows x 4 columns]